.article {
    @include wysiwyg;
    padding: ($vr * 2) 0;
}

.article__content {
    @include content-columns;
}

.article__media {
    max-width: 100%;

    + .article__media {
        margin-top: ($vr / 2);
    }
}
